{{page-title "Login"}}

<div class="container-fluid">	
	<div class="container-fluid mt-3">
		<div class="row">
			<h5>Welcome to Twit-arr! Please log in.</h5>
		</div>
		<div class="mb-3 col-7">
			<label for="username" class="form-label">Username</label>
			<Input id="username" @type="text" @value={{this.username}} @enter={{this.authenticate}} />
		</div>
		<div class="mb-3 col-7">
			<label for="password" class="form-label">Password</label>
			<Input id="password" @type="password" @value={{this.password}} @enter={{this.authenticate}} />
		</div>
		<button type="button" class="btn btn-primary" {{on "click" this.authenticate}}>Login</button>
	</div>
		
	{{#if this.errorMessage}}
		<div class="alert alert-danger mt-3" role="alert">
			<b>Error:</b> {{this.errorMessage}}
		</div>
	{{/if}}
	<div class="container-fluid mt-3">
		<div class="row nav-item">
			<a class="nav-link" href="/createAccount">I want to create an account</a>
		</div>
		<div class="row nav-item">
			<a class="nav-link" href="/resetPassword">I forgot my password!</a>
		</div>
		<div class="row nav-item">
			<a class="nav-link" href="/codeOfConduct">I want to read the Code of Conduct and Twit-arr Rules!</a>
		</div>
	</div>
</div>